/*
* Last Modified: 01/18/21
* Author: Alex Eastman
* Contact: alexeast@buffalo.edu
* File: res/styles.css
*/

window {
    background: white;
    padding: 0;
    margin: 0;
}

entry {
    border-radius: 0;
    font-size: 30px;
}



.button {
	border-radius: 6px;
	border: none;
	box-shadow: 3px 3px 3px black;
	font-size: 18px;
}

.menu_text {
	color: #f7f7f7;
}

.background {
	background: #373737;
}


#board_container_grid {
    margin: 0;
}
